[DEFAULT]
test_transactional_email_address_to = bryce@bridgtownint.com
transactional_smtp_host = send_email.com
transactional_smtp_user_name = uname
transactional_smtp_password = pass

[development]

[test]
# NOTE: db_password should be accessed through ~/.pgpass
db_host = psql02.thedevranch.net
db_user = brycemcd
db_db   = pocketlobby_dev
congress_data_fs_root = /media/brycemcd/bkp/congress/congress/data/

[production]
